# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Environment variables
.env

# Streamlit
.streamlit/
.data/

# Data files
data/
/data
*.pdf

# System files
.DS_Store
Thumbs.db