streamlit
pandas
python-dotenv
openai
langchain
langchain-openai
langchain-community
faiss-cpu
pypdf
tiktoken
numpy
scikit-learn
typing-extensions
tenacity
typing-inspect
pydantic
speechrecognition
aiohttp
fastapi
uvicorn
